/* GLOBAL */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* HEADER */
header {
    padding: 10px;
    background: #35424a;
    color: #fff;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #logo {
    display: block;
    float: left;
}

header #logo img {
    height: 75px;
}

header nav {
    float: right;
    margin-top: 25px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header nav img {
    height: 20px;
}

header a:hover {
    color: #e8491d;
    font-weight: bold;
}

/* MAIN CONTAINER */
.main {
    display: flex;
}

.main-menu {
    width: 550px;
    background: #e0e0e0;
    padding: 15px;
}

.main-menu h2 {
    text-align: center;
}

.main-menu li {

    padding: 5px;
}

.main-menu a {
    display: block;
    text-align: left;
    color: #35424a;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid #35424a;
}

.main-menu a:hover {
    color: #e8491d;
    border-bottom: 1px solid #e8491d;
    transition: 0.20s ease-in	 0.15s;
}

.main-content-info {
    text-align: center;
}

.main-content-info h2 {
    font-size: 35px;
    margin-bottom: 0;
}

.main-content-info p {
    color: #888;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 18px;
}

.main-content-text {
    padding: 15px;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-block {
    padding: 10px;
    width: 300px;
    text-align: justify;
    position: relative;
}

#university {
    border: 1px solid red;
}

#university:after {
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-top: 50px solid red;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}

.content-block i {
    text-align: center;
    display: block;
    font-size: 60px;
    color: #35424a;
}

.content-block h4 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.content-block p {
    text-align: center;
    font-size: 16px;
    color: #888;
}

/* FOOTER */
footer {
    background: #252424;
    border-top: 2px solid #968f8f;
    color: #fff;
}

/* FIRST BLOCK */
.contacts {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.contacts .contacts-item {
    padding: 15px;
    color: #fff;
}

.contacts .contacts-item ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.contacts .contacts-item:last-child ul {
    text-align: right;
}

.contacts .contacts-item ul li a:hover {
    color: #e8491d;
}

/* SECOND BLOCK */
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info .links li {
    display: inline-block;
    padding: 10px;
}

.info .links li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.info .links li a:hover {
    color: #56a79a;
}

.info .links li a img {
    height: 35px;
}